<%- include('layout') %>

  <% block('content', function() { %>
    <div class="max-w-xl px-4 pt-8 mx-auto prose prose-lg prose-img:text-center prose-img:mx-auto lg:px-0"
      x-data='<%- JSON.stringify({ showCount: 10, artists: artists.slice(10) }) %>'>
      <h1 class="text-3xl text-center text-gray-900 sm:text-5xl">
        <%= title %>
      </h1>
      <span class="block mt-2 text-sm text-gray-600 sm:text-base">Updated: <%= updated_at %></span>

      <p>
        Discover the top Spotify artists today (<%= updated_ats %>), that were played on repeat by our community. Save
          these Spotify artists to your library and keep your playlists fresh with the <a
            href="/spotify-top-songs-right-now">top songs
            right now</a>. 🎸🤘🎶.
      </p>

      <article class="mt-6 sm:mt-8">
        <h2 class="">
          Number 1 Artist On Spotify (<%= updated_at %>)</h2>
        <p>
          <%= topArtist.name %> is the most listened to artist on Spotify in August 2024, followed by
            <%= artists[1].name %> and
              <%= artists[2].name %>.
        </p>
        <div>
          <iframe src="<%= embedUrl %>" width="100%" height="720" frameborder="0" allowtransparency="true"
            allow="encrypted-media"></iframe>
        </div>
        <%- include('setupad-interscroller') %>

          <h2>Here's the rundown of August's top 10 Spotify artists
            (<%= updated_at %>):</h2>

          <div class="overflow-x-auto rounded-lg shadow-md not-prose">
            <table class="w-full text-sm text-left">
              <thead class="text-xs text-gray-700 uppercase bg-gray-100">
                <tr>
                  <th scope="col" class="px-4 py-3 text-center">#</th>
                  <th scope="col" class="px-4 py-3">Artist</th>
                  <th scope="col" class="px-4 py-3">Listeners</th>
                  <th scope="col" class="px-4 py-3">Trend</th>
                </tr>
              </thead>
              <tbody>
                <% artists.slice(0, 10).forEach((artist, index)=> { %>
                  <tr class="bg-white border-b hover:bg-gray-50">
                    <td class="px-4 py-3 font-medium text-center">
                      <%= index + 1 %>
                    </td>
                    <td class="px-4 py-3">
                      <div class="flex items-center">
                        <img src="<%= artist.image %>" alt="<%= artist.name %>" class="w-10 h-10 mr-3 rounded-full">
                        <span class="font-medium">
                          <%= artist.name %>
                        </span>
                      </div>
                    </td>
                    <td class="px-4 py-3">
                      <%= artist.listeners %>
                    </td>
                    <td class="px-4 py-3">
                      <span x-data="{trend: <%= artist.dailyTrend %>}" :class="{
                      'text-green-600': trend > 0,
                      'text-red-600': trend < 0,
                      'text-gray-600': trend == 0
                  }" x-text="(trend > 0 ? '+' : '') + trend.toLocaleString()"></span>
                    </td>
                  </tr>
                  <% }) %>
                    <template x-for="(artist, index) in artists.slice(0, showCount - 10)" :key="index">
                      <tr class="bg-white border-b hover:bg-gray-50">
                        <td class="px-4 py-3 font-medium text-center" x-text="index + 11"></td>
                        <td class="px-4 py-3">
                          <div class="flex items-center">
                            <img :src="artist.image" :alt="artist.name" class="w-10 h-10 mr-3 rounded-full">
                            <span class="font-medium" x-text="artist.name"></span>
                          </div>
                        </td>
                        <td class="px-4 py-3" x-text="artist.listeners"></td>
                        <td class="px-4 py-3">
                          <span x-data="{
                    trend: parseFloat(artist.dailyTrend.replace(/,/g, ''))
                }" :class="{
                      'text-green-600': trend > 0,
                      'text-red-600': trend < 0,
                      'text-gray-600': trend == 0
                  }" x-text="(trend > 0 ? '+' : '') + trend.toLocaleString()"></span>
                        </td>
                      </tr>
                    </template>
              </tbody>
            </table>
          </div>

          <div class="mt-6 text-center" x-show="showCount < artists.length + 10">
            <button @click="showCount = showCount + (showCount === 10 ? 40 : 50)"
              class="px-4 py-2 font-semibold text-black bg-green-500 rounded hover:bg-green-600">
              Show next top <span x-text="showCount === 10 ? 40 : 50"></span> Spotify artists
            </button>
          </div>

          <div class="h-[440px] bg-neutral-50 mt-4 mb-4 ads relative">
            <div class="font-light text-xs left-1 top-1 absolute text-gray-400 uppercase">advertisement</div>
            <div id="huangdarren1106_github_io_billboard_top_responsive" class="sticky top-0">
              <script>
                googletag.cmd.push(function () {
                  googletag.display('huangdarren1106_github_io_billboard_top_responsive');
                });
              </script>
            </div>
          </div>

          <h2>Top 20 Spotify Artists on <%= new Date().toLocaleDateString('en-US', { month: 'long' , day: 'numeric' ,
              year: 'numeric' }) %>
          </h2>

          <div>
            <% artists.slice(0, 20).forEach((artist)=> { %>
              <iframe class="" style="border-radius:12px"
                src="https://open.spotify.com/embed/artist/<%= artist.id %>?utm_source=musicpiechart.com" width="100%"
                height="352" frameBorder="0" allowfullscreen=""
                allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                loading="lazy"></iframe>
              <div class="border py-[1px] rounded-full bg-gray-100 my-4 mx-auto max-w-xs w-full"></div>
              <% }) %>
          </div>

          <%- include('highlights-spotify-artists', { class: "my-8" , backgroundImage: "/taylor-swift.jpg" ,
            href: "/taylor-swift-pie-chart" }) %>
            <h2 class="text-base text-gray-800">Discover the transformation of Taylor's musical style with our <a
                href="/artists/taylor-swift" class="hover:text-green-600">Taylor Swift Pie Chart</a>! See
              how her music has changed over the years with our colorful charts.</h2>
            <% // Close the highlights-spotify-artists include %>

              <h2>Coming Up: <%= new Date(Date.now() + 86400000).toLocaleDateString('en-US', { month: 'long' ,
                  day: 'numeric' , year: 'numeric' }) %>'s Top Spotify Artists</h2>
              <p>We will update this chart tomorrow with the latest data from Spotify.</p>
              <p>Tune in soon or subscribe to our <a target="_blank"
                  href="https://musicpiechart.com/mailcoach/archive/spotify-pie" class="hover:text-green-600">Monthly
                  Music
                  Pulse</a> to get the latest music news and updates.</p>
      </article>

      <div id="huangdarren1106_github_io_interscroller_mobile" style="text-align: center;" class="sm:hidden">
        <script>
          googletag.cmd.push(function () {
            googletag.display('huangdarren1106_github_io_interscroller_mobile');
          });
        </script>

      </div>
      <script>
        window.stpdInterscroller = window.stpdInterscroller || {
          que: []
        }
        stpdInterscroller.que.push(function () {
          if (window.innerWidth < 1024) {
            stpdInterscroller.setConfig({
              container: 'div[id="huangdarren1106_github_io_interscroller_mobile"]',
              height: 330,
              width: 300,
              showTitle: false,
              titleText: 'Advertisement',
              titleBackground: '#FFF',
              titleColor: '#333',
              overrideParentWidth: true
            });
            stpdInterscroller.run();
          }
        });
      </script>


      <div id="huangdarren1106_github_io_sidebar_left_desktop" class="side_ad_left">
        <script>
          googletag.cmd.push(function () {
            if (window.innerWidth >= 1180) {
              googletag.display('huangdarren1106_github_io_sidebar_left_desktop');
            }
          });
        </script>
      </div>
      <div id="huangdarren1106_github_io_sidebar_right_desktop" class="side_ad_right">
        <script>
          googletag.cmd.push(function () {
            if (window.innerWidth >= 1180) {
              googletag.display('huangdarren1106_github_io_sidebar_right_desktop');
            }
          });
        </script>
      </div>

      <div class="w-full mx-auto max-w-[430px] my-4">
        <script src="https://360playvid.info/slidepleer/s1999s.js"></script>
      </div>
    </div>
    <% }) %>